.container {
	background: steelblue;
	padding: 40px;
	font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
	margin-top: 10% !important;
}
.content {
	background: beige;
	padding: 25px;
}
.content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
#wrapper .t10 {
	margin-top: 10px;
}
.content .t20 {
	margin-top: 20px;
}


.content .todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}

footer {
	margin-top: 20px;
	color: white;
}
.content .list-group-item {
	color: black;
}

/* #wrapper .delABtn {
	float: right;
} */

#contentWeek {
	margin-left: 40px;
}

#contentDay {
	margin-left: 40px;
}

